<!DOCTYPE html>
<html ng-App='myApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      body
      {
          font-size: 1.3em;
      }
    </style>
    <title> Looping using Ng-Repeat </title>
  </head>
  <body>
    <h1> Looping using Ng-Repeat </h1>
    <div ng-controller='myController'>
      <h3>Shopping List:</h3>
      <!-- ShoppingList1
      <ul>
        <li ng-repeat="item in shoppingList1">{{ item }}</li>
      </ul>
    -->
    <!-- shoppingList2
      <ul>
        <li ng-repeat="item in shoppingList2">Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul>
      -->
    <!-- ShoppingList3 -->
      <input type="text" ng-model="shoppingList2[0].quantity">
      <ul>
        <li ng-repeat="item in shoppingList2">{{$index + 1}}. Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul>
      <input type="text" ng-model="newItemName" placeholder="Item name">
      <input type="text" ng-model="newItemQuantity" placeholder="Item quantity">
      <button ng-click="addToList()">Add To List</button>
    </div>
  </body>
</html>
